/* #1BBCB6 = blauw */
/* #E30613 = rood */
/* #5B5B5B = donker grijs*/
/* #303030 = footer achtergrond kleur */
/* #FFFFFF = wit voor achtergrond kleur */
/* #000000 = zwart voor logo's */
/* font-family: "Poppins", sans-serif; = font */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3 {
  color: #000000;
  font-weight: bold;
}
.inhoud_body {
  margin: 0em 1em;
}
/* homepage */

/* bovenste navigatie */

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 17px;
}

nav ul li {
  height: 100%;
}
nav ul li a h1 {
  height: 100%;
  padding-right: 2em;
}
nav ul li a h1:hover {
  color: #1bbcb6;
}
nav ul li a {
  text-decoration: none;
}

.ehb_logo {
  width: auto;
  height: 54px;
  margin-left: 10px;
}

.rechter_navigatie {
  display: flex;
  width: 10em;
  height: auto;
  justify-content: space-between;
}

.rechter_navigatie img {
  width: 100%;
  height: 100%;
}

.rechter_navigatie a {
  padding-left: 1em;
}
.rechter_navigatie a:hover {
  filter: invert(58%) sepia(17%) saturate(6855%) hue-rotate(139deg)
    brightness(103%) contrast(79%);
}

/*  zoekbalk */

.zoekbalk_container {
  background: url(/images/jpg/jj-ying-7JX0-bfiuxQ-unsplash.jpg) no-repeat center center/cover;
  height: 6em;
  display: flex;
}
.zoekbalk {
  display: flex;
  height: 50%;
  width: 60%;
  margin: auto;
  background-color: white;
  border-radius: 5em;
}
#zoek_input {
  background: none;
  border: none;
  color: #5b5b5b;
  width: 95%;
  margin-left: 1em;
}
#zoek_input:focus {
  outline: none;
}
#zoek_btn img {
  height: 80%;
  width: 70%;
}
#zoek_btn {
  background: none;
  border: none;
  margin-right: 1em;
}
.zoekbalk select {
  background: none;
  border: none;
  color: #5b5b5b;
  width: 10%;
  margin-left: 1em;
  background: url(/images/svg/sliders-solid.svg) no-repeat center;
  background-size: 20%;
}
.zoekbalk select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.zoekbalk select:focus {
  outline: none;
}

/* categorie lijst */

.categorie{
  width: 100%;
  height: 15em;
  display: block
}
.categorie a h1{
}
.categorie a{
  text-decoration: none;
}
.categorie_lijst {
  height: 80%;
  justify-content: center;
  width: 90%;
  list-style: none;
  display: flex;
  margin: auto;
}
.categorie_lijst li{
  margin: auto;
}
.categorie_lijst a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #1bbcb6;
  padding: 3em;
  border-radius: 2em;
  margin-right: 3em;
  width: 5em;
  text-align: center;
}

/* Recent bekeken */

.recent_lijst_container {
  display: flex;
}
.recent_lijst_container img {
  width: 2em;
  margin: 1em;
}
.recent_container {
  display: block;
}
.recent_container h1 {
  margin: 1em 0em;
}
.recent_lijst {
  display: flex;
  margin-top: 1em;
  width: 100%;
  list-style: none;
  margin: auto;

}
.recent_lijst a {
  text-decoration: none;
}
.recent_lijst li {
  margin: auto;
  background-color: #edededcf;
  height: 80%;
  width: 20%;
  text-align: center;
  border-radius: 1em;
}
.recent_lijst li img {
  width: 70%;
  height: 50%;
  background-color: white;
  margin-top: 1em;
}

/* Hoe leen je iets uit? */
.uitleen_uitleg h1 {
  padding-left: 0.5em;
  margin: 1em 0em;
}
.uitleen_uitleg ul li h3 {
  color: white;
}
.uitleen_uitleg ul li p {
  font-size: 90%;
  padding: 1em;
}
.uitleen_uitleg ul {
  list-style: none;
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}
.uitleen_uitleg ul li {
  width: 20%;
  height: 10em;
  border-radius: 1em;
  text-align: center;
  background-color: #1bbcb6;
  margin: 1em
}
.uitleen_uitleg ul li a {
  text-decoration: none;
  padding: 1em;
  color: white;
}
.meer_info {
  background-color: rgb(193, 193, 193);
  border-radius: 1em;
  width: 10%;
  text-align: center;
  margin: 1.5em 9em 1em auto;
}
.meer_info a {
  text-decoration: none;
  color: white;
}

/* Info pagina  */
/*Info Hoe leen je iets uit? */
.info-chevron-left img{
    width: 1.5em;
    height: auto;
    padding: 1em;
}
.info-chevron-left {
    display: flex;
}
.info-chevron-left p{
    padding-top: 0.9em;
    font-size: large;
}
.info_uitleen_uitleg h2 {
  padding-left: 2em;
}
.info_uitleen_uitleg ul li h3 {
  color: white;
}
.info_uitleen_uitleg ul li p {
  font-size: 85%;
  padding: 1em;
}
.info_uitleen_uitleg{
padding-bottom: 4em;
}
.info_titel{
  margin: 0.3em 0em 0em 0.5em;
}

.info_uitleen_uitleg ul {
  list-style: none;
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  margin: auto;
  width: 90%;

}
.info_uitleen_uitleg h2 {
  margin: 1em 0em;
}
.info_uitleen_uitleg ul li {
  width: 15em;
  height: 10em;
  border-radius: 1em;
  text-align: center;
  background-color: #1bbcb6;
  text-decoration: none;
  padding: 1em;
  color: white;
}

/* openings uren  */
.info-opening-hours h1{
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
}

.info-opening-hours {
    padding: 0em 1em 0em 0em;
    margin-bottom: 1em;
  }
.info-opening-hours table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  }
  
.info-opening-hours h1 {
    padding: 0em 0em 0.5em 0em;
    text-align: left;
    margin: 0em 0em 1em 2em;
  }

.info-opening-hours table,th,td {
    text-align: center;
    padding: 1.5em;
}
.info-opening-hours table th {
    text-align: start;
    border: none;
    border-bottom: 2px solid rgb(193, 193, 193);
  }
  .info-opening-hours table td{
    border: none;
    border-bottom: 2px solid rgb(193, 193, 193);
    border-left: 2px solid rgb(193, 193, 193);
  }
  .info-opening-hours table tr:last-child th, .info-opening-hours table tr:last-child td{
    height: 2em;
    border-bottom: none;
  }

  .info-opening-hours td  {
    border: 0.1em solid black;
  }

  .info-opening-hours th {
    border: 0.1em solid black;
  }

/* sancties/defect  */

.info-sancties{
    margin: 1em 0em 1em 3em;
}
.info-sancties h2, p{
  margin: 2em  0em 1em 0em;
}
.info-sancties p b{
    color: #E30613;
}
.info-sancties p, .info-defect p{
  width: 95%;
}

.info-defect{
    margin: 2em 0em 1em 3em;
}

/* veel gestelde vragen  */

.info-veel-vragen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.veel_vragen{
  align-self: left;
  margin-left: 2em;
  margin-top: 2em;
}
.info-box{
  position: relative;
  padding: 1em;
  border: 0.5em solid transparent;
  border-bottom-color: #1bbcb6;
  background-color: transparent;
  width: 50%;
  height: 2.5em;
  cursor: pointer;
  transition: all 0.4s ease;
}
.info-box h2{
  font-size: 1em;
  margin-bottom: 1em;
}
.info-box p {
  font-size: 1em;
  line-height: 1.3;
  opacity: 0;
  transition: all 0.2s;
}
.info-button {
position: absolute;
right: 2em;
font-size: 1em;
background-color: transparent;
border: none;
outline: none;
color: #000000;
}
.info-button i{
  display: none;
}
.info-angle-down{
  display: block;
}


.info-box.active {
  height: 6em;
}

.info-box.active p{
opacity: 1;
}

.info-box.active .info-button .info-angle-down{
  display: none;
}
.info-box.active .info-button .info-angle-up{
  display: none;
}

/* form  */
.info-form-h2 {
  margin: 3em 0em 1em 2em;
  color: #1bbcb6;
}

.info-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-text{
  width: 100%;
  display: flex;
}
.info-text input[type=text]{
  width: 90%;
  height: 20em;
  border-radius: 2em;
  background-color: rgb(193, 193, 193);
  border: none;
  color: #fff;
  margin: auto;
  padding: 2em;
}
.info-text input[type=text]:focus{
  outline: none;

}
.info-submit{
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: center;
}
.info-submit input[type=submit]{
  background-color: #1bbcb6;
  border-radius: 2em;
  width: 15%;
  height: 70%;;
  margin: auto;
  border: 0;
  color: white;
  font-weight: bold;
}
.info-submit input[type=submit]::-ms-value{
  font-size: 15px;
}



/* Inventaris pagina */
/* filters onder zoekbalk */

.zoekresultaat_container {
  margin-top: 1em;
  display: flex;
}
.zoekresultaat_container h3 {
  margin: 0em 2em;
}
.filters {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
.filters select {
  border-radius: 1em;
  border: none;
  background-color: rgb(193, 193, 193);
  padding: 0em 1em;
}

/* apparaat */
.apparatenlijst {
  display: inline-block;
  width: 97%;
  height: 12em;
  list-style: none;
  margin: auto;
}
.apparaat {
  width: 100%;
  height: 100%;
  border-radius: 2em;
  background-color: rgb(193, 193, 193);
  margin: 1em 0em 0em 2em;
}
.apparaat a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000000;
  align-items: center;
}
.apparaat_foto {
  height: 10em;
  margin: 1em;
  width: auto;
  background: white;
  border-radius: 2em;
}
.toevoegen {
  display: flex;
  width: 20%;
  align-items: center;
}
.toevoegen img {
  width: 4em;
  margin: auto;
}

.beschikbaarheid_apparaat {
  display: flex;
  width: 20%;
  color: #1bbcb6;
  font-weight: bold;
}
.beschikbaarheid_apparaat img {
  width: 4em;
  margin: 0em 2em;
  filter: invert(62%) sepia(49%) saturate(680%) hue-rotate(129deg)
    brightness(90%) contrast(89%);
}

/*Footer*/
footer {
  background-color: #303030;
  color: white;
  margin-top: 4em;
  width: 100%;
  height: 100%;

}
.ehb-info li a {
  text-decoration: none;
  color: white;
}

.ehb-info ul {
  padding: 1em;
}
.ehb-info li {
  list-style: none;
  padding: 0.5em;
}

.ehb-info a img {
  width: 1.2em;
  height: auto;
  padding: 0em 1em 0em 0em;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(8deg) brightness(109%)
    contrast(101%);
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.opening-hours {
  padding: 0em 1em 0em 0em;
  margin: 0;
}
.opening-hours table {
  border-collapse: collapse;
}

.opening-hours h1 {
  padding: 0em 0em 0.5em 0em;
  color: white;
}
.opening-hours table,th,td {
  border: 0.05em solid white;
}

.opening-hours th,td {
  padding: 0.5em;
}

.einde {
  background-color: #e30613;
  text-align: center;
  padding: 0.5em;
  font-size: large;
}

/* apparaat info */
.apparaat_info {
  background-color: rgb(193, 193, 193);
  width: 80%;
  margin: auto;
  margin-top: 2em;
  border-radius: 2em;
  padding-bottom: 2em;
}

.apparaat_info_container {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.download_handleiding {
  list-style: none;
}
.download_handleiding img {
  background-color: white;
  border-radius: 2em;
  width: 70%;
  margin: 2em 0em 0em 2em;
}
.download_handleiding a {
  background-color: #1bbcb6;
  text-decoration: none;
  color: white;
  padding: 1em;
  border-radius: 2em;
}
.download_handleiding li {
  margin: 3em 0em 0em 2em;
}

.apparaat_beschrijving {
  margin: 2em 0em 0em 0em;
  width: 60%;
}
.apparaat_beschrijving h2 {
  margin: 0em 0em 1em 0em;
}
.apparaat_beschrijving li {
  margin: 0.5em 0em;
}
.doos_kolom {
  display: block;
  justify-content: space-between;
  margin: 2em 0em 0em 0em;
  width: 50%;
}
.doos_kolom h2 {
  margin: 0em 0em 1em 0em;
}
.doos_kolom li {
  margin: 0.5em 0em;
}

.doos_kolom .defecten {
  margin: 2em 0em 0em 0em;
  color: #e30613;
}

.reservatie {
  margin: 3em 0em 1em 2em;
}
.reservatie_plaatsen {
  background-color: #1bbcb6;
  width: 80%;
  height: 6em;
  margin: auto;
  border-radius: 2em;
  display: flex;
  list-style: none;
}
.reservatie_plaatsen li {
  text-decoration: none;
  color: white;
  padding: 1em;
  display: flex;
}
.aantal{
  background-color: white;
  border-radius: 2em;
  margin: auto;
  width: 13%;
  height: 10%;
  align-items: center;
}
.aantal label{
  color: black;
  font-weight: bold;
}
.aantal input{
  border: none;
  width: 100%;
  height: 2em;
  text-align: center;
  font-size: 14px;
}
.reserveer_nu_btn{
  width: 14%;
  background-color: white;
  height: 10%;
  border-radius: 2em;
  margin: auto;
  align-items: center;
}
.reserveer_nu_btn a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin: 0em auto;
}
.winkelmand_toevoegen_btn{
  background-color: white;
  height: 10%;
  margin-right: 1em;
  margin: auto;
  align-items: center;
  width: 10%;
  border-radius: 2em;
}
.winkelmand_toevoegen_btn button{
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 16px;
}
.winkelmand_toevoegen_btn img{
  width: 20%;
  margin: 0em 0em 0em 0.2em
}

.datum{
  display: flex;
  flex-direction: column;
}

/* kits */

.kits h2 {
  margin: 3em 0em 0em 2em;
}
.kits ul {
  display: flex;
  list-style: none;
  width: 90%;
  margin: 2em auto;
  justify-content: space-between;
}
#selectie_toevoegen {
  background-color: #1bbcb6;
  color: white;
  padding: 1em;
  border-radius: 2em;
  margin: auto 0em;
  height: 20%;
  width: 10%;
  text-align: center;
}
.kits ul li {
  background-color: rgb(193, 193, 193);
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  position: relative;
  padding: 1em 0em 0.5em 0em;
}
.kits ul li img {
  width: 70%;
  height: auto;
  margin: 0em 0em 1em 0em;
  background-color: white;
  border-radius: 1em;
}
#selectiebol {
  background: none;
  filter: invert(58%) sepia(17%) saturate(6855%) hue-rotate(139deg)
    brightness(103%) contrast(79%);
  position: absolute;
  width: 2em;
  right: 0.5em;
  top: 0.5em;
}

/* van dezelfde categorie */
.dezelfde_categorie{
    width: 100%;
}
.dezelfde_categorie_container{
    display: flex;
}
.dezelfde_categorie h2{
    margin: 3em 0em 0em 2em;
}
.dezelfde_categorie ul {
  display: flex;
  list-style: none;
  width: 90%;
  margin: 2em auto;
  justify-content: space-evenly;
}
.slider{
    width: 2em;
    height: auto;
    margin: 1em;
}
.lijst_apparaten li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: rgb(193, 193, 193);
    padding: 1em 1em 0.5em 1em;
    border-radius: 2em;
    margin: 0.7em;
}
.lijst_apparaten li img{
    width: 80%;
    background-color: white;
    border-radius: 1em;
}
.lijst_apparaten li h3{
    padding-top: 1em;
}

.reserverenEnTerug{
    display: flex;
}
.reserverenEnTerug h1{
    margin: 0.8em 0.5em 0em 0.5em;
}
.reserverenEnTerug a img{
    width: 1.5em;
    height: auto;
    margin: 1.5em;
}
.bevestig{
    margin: 0em 4em 2em 4em;
    font-size: 20px;
}
.item_info_container{
    background-color: rgb(193, 193, 193);
    width: 80%;
    margin: 1em auto;
    border-radius: 2em;
}
.item_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.item_info img{
    width: 15%;
    height: 15%;
    margin: auto 1em;
}
.verwijder{
    position: absolute;
    right: 0;
    top: 0.5em;
    width: 2em !important;
}
.item_info_container img{
  width: 15%;
}
.bevestig_btn{
    background-color: #1bbcb6;
    padding: 1em;
    border-radius: 2em;
    margin: auto;
    width: 10em;
    text-align: center;
}
.bevestig_btn button{
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

/* kalender pagina */
.agendaEnTerug{
    display: flex;
}
.agendaEnTerug img{
    width: 1.5em;
    height: auto;
    margin: 1.5em;
}
.agendaEnTerug h1{
    margin: 0.6em 0.5em 0em 0.5em;
}
.subtitel, .jaarkalender h2{
    color: #5B5B5B;
    margin: 0.5em 4em;
}
.jaarkalender p{
    margin: 0em 6em;
}
.jaarkalender p b{
    color: #E30613;
}
.jaarkalender table{
  width: 80%;
  margin: 3em auto;
  border-collapse: collapse;
}
.jaarkalender table b{
  color:#E30613;
}
.jaarkalender table .uitleg{
  text-align: right;
  padding-left: 0em;
  border-bottom: 2px solid rgb(193, 193, 193);
}
.jaarkalender table tr td{
  padding: 1em;
  border-bottom: 2px solid rgb(193, 193, 193);
}
.jaarkalender table tr td:first-child{
  border-right: 2px solid rgb(193, 193, 193);
}
.jaarkalender table tr:last-child td{
  border-bottom: none;
  padding: 1em;
}

.empty{
  padding:5em;
}

.activiteit{
  display: flex;
  align-items: center;
  margin-left: 2em;
}
.activiteit img{
  width: 25%;
  margin: 1em 3em 0em 5em;
}
.info_activiteit{
  width: 40%;
}
.info_activiteit p{
  margin: 1.5em 0em;
}
.info_activiteit h4{
  color:#1bbcb6;
}

/* mijn favorietenlijst pagina */

.favorietenEnTerug{
  display: flex;
}
.favorietenEnTerug img{
  width: 1.5em;
  height: auto;
  margin: 1.5em;
}
.favorietenEnTerug h1{
  margin: 0.6em 0.5em 0em 0.5em;
}
.favoriet_apparaat_container{
  width: 90%;
  height: 15em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;   /*hierdoor is er probleem wnt komt over*/
}
.favoriet_apparaat{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(193, 193, 193);
  border-radius: 2em;
  width: 20%;
  margin: 1em;
}
.favoriet_apparaat .mijnFavorieteApparaat_foto{
  width: 60%;
  height: auto;
  margin: 0.5em auto;
  background-color: white;
  border-radius: 1em;
}
.text_apparaat{
  text-align: center;
  font-weight: bold;
  margin: auto;
  display: flex;
}
.text_apparaat img{
  width: 1.5em;
  height: auto;
  margin: 0em 0.5em;
  filter: invert(58%) sepia(17%) saturate(6855%) hue-rotate(139deg)
    brightness(103%) contrast(79%);
}
.verwijder_btn{
  width: 1.5em;
  position: absolute;
  top: 0.5em;
  right: 1em;
}

/* annuleren van reservatie */
.annulerenEnTerug{
  display: flex;
}
.annulerenEnTerug img{
  width: 1.5em;
  height: auto;
  margin: 1.5em;
}
.annulerenEnTerug h1{
  margin: 0.6em 0.5em 0em 0.5em;
}

/* defect melden */
.defecte_apparaten_container{
  display: flex;
  width: 100%;
}
.item_info_en_selectiebol{
  display: flex;
  justify-content: flex-start;
}
#selectie_bol img{
  margin: auto;
  filter: invert(58%) sepia(17%) saturate(6855%) hue-rotate(139deg)
    brightness(103%) contrast(79%);
}
#selectie_bol{
  width: 3em;
  margin: auto;
  margin-right: 0em;
}

.defecte_apparaten{
  display: flex;
  background-color: rgb(193, 193, 193);
  height: 20em;
  border-radius: 2em;
}

.beschrijving_defect {
  width: 90%;
  margin: auto;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  color: black;
  border: 0.5px solid grey;
  border-radius: 2em;
  padding: 1em;
  margin-bottom: 1em;
}
.beschrijving_defect:focus {
  border: none;
  outline: 0.5px solid #1bbcb6;
}
.beschrijving_defect::placeholder{
  height: 100%;
  text-wrap: wrap;
  font-size: 16px;
}
.beschrijf{
  margin: 0em 0em 0em 4em;
}

/* defect melden final bevestiging */

.melding h2{
  margin: 2em 0em 0em 2em;
}
.melding p{
  width: 85%;
  margin: auto;
  background-color: rgb(193, 193, 193);
  padding: 4em;
  border-radius: 1em;
  margin-top: 2em;
}