/* #1BBCB6 = blauw */
/* #E30613 = rood */
/* #5B5B5B = donker grijs*/
/* #303030 = footer achtergrond kleur */
/* #FFFFFF = wit voor achtergrond kleur */
/* #000000 = zwart voor logo's */
/* font-family: "Poppins", sans-serif; = font */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
h1,
h2,
h3 {
    color: #000000;
    font-weight: bold;
}
.inhoud_body{
  display: grid;
  grid-template-columns: [first] 20% [second] 80%;
  grid-template-rows: auto;
}

/* homepage */

/* bovenste navigatie */

nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  
}

.ehb_logo {
  width: auto;
  height: 54px;
  margin-left: 10px;
}
.rechter_navigatie{
    display: flex;
    align-items: center;
    margin-right: 10px;  
}
.rechter_navigatie a{
    width: 3em;
}
.rechter_navigatie img {
    width: 100%;
    height: 100%;
}
.rechter_navigatie a:hover {
  filter: invert(58%) sepia(17%) saturate(6855%) hue-rotate(139deg)
    brightness(103%) contrast(79%);
}

/*  zoekbalk */

.zoekbalk_container {
  background: url(/images/jpg/jj-ying-7JX0-bfiuxQ-unsplash.jpg) no-repeat center center/cover;
  height: 6em;
  display: flex;
}

/* linker navigatie */

.linker_nav{
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  border-right: 2px solid rgb(193,193,193);
  margin-top: 1em;
}
.linker_nav ul{
  list-style: none; 
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
}
.linker_nav ul li a{
  text-decoration: none;
  color: #5B5B5B;
  font-weight: bold;
  font-size: 1.3em;
}

.linker_nav ul a:hover{
  color: #1BBCB6;
}
/* keer terug + zoeken container binnen pagina zelf */
.keer_terug{
  display: flex;
  margin: 0.5em 1.5em 1.5em 1.5em;
}
.keer_terug img{
  width: 1.5em;
  height: 3.2em;
}
.keer_terug h1{
  margin-left: 0.5em;
}

.zoeken_container{
  width: 100%;
  height: 3em;
  margin: auto;
}
.zoeken{
  display: flex;
  width: 80%;
  margin: auto;
  height: 100%;
  border-radius: 2em;
  border: 2px solid rgb(193,193,193);
}
.zoeken input{
  width: 90%;
  height: 100%;
  border: none;
  margin: auto;
}
.zoeken button{
  width: 2em;
  height: auto;
  background: none;
  border: none;
  margin-right: 1.5em;
}

/* dashboard agenda */

.agenda_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 2em;
}
.datums{
  display: flex;
  list-style: none;
  margin-top: 2em;
  align-items: center;
}
.datums li{
  background-color: rgb(193,193,193);
  width: 5em;
  height: 5em;
  margin: 1em;
  border-radius: 50%;
  text-align: center;
  display: flex;
}
.datums li h3{
  margin: auto;
}
.datums li:first-child , .datums li:last-child{
  width: 2em;
  height: 2em;
  background: none;
}
.datums .active{
  background-color: #E30613;
}

/* dashboard uitleningen */

.uitleningen_dashboard_container{
  width: 100%;
  margin-top: 1.5em;
}
.uitleningen_dashboard_details{
  display: flex;
  width: 90%;
  background-color: #D9D9D9;
  margin: auto;
  border-radius: 2em;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 0.5em;
}
.naam_reservatieID{
  margin-left: 2em;
}
.naam_reservatieID span{
  font-weight: normal;
}
.iconen{
  display: flex;
  margin-right: 2em;
}
.iconen img{
  width: 2em;
  height: 2em;
  margin: 0.5em;
}
.check{
  filter: invert(58%) sepia(17%) saturate(6855%) hue-rotate(139deg)
  brightness(103%) contrast(79%);
}
.verwijder_btn{
  filter: invert(13%) sepia(91%) saturate(6506%) hue-rotate(353deg) brightness(88%) contrast(103%);
}

.uitlening_toevoegen{
  background-color: #1BBCB6;
  text-align: center;
  width: 23%;
  border-radius: 2em;
  margin-left: 4em;
  margin-top: 2em;
}
.uitlening_toevoegen a{
  text-decoration: none;
  color: white;
}

/* te laat pagina */

.te_laat_tabel{
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 2em;
}
.te_laat_tabel table{
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}
.te_laat_tabel th, td{
  width: 30%;
  border-collapse: collapse;
  border-bottom: 2px solid rgb(193,193,193);
  border-left: 2px solid rgb(193,193,193);
}
.te_laat_tabel tr:last-child td{
  border-bottom: none;
}
.te_laat_tabel th:first-child, td:first-child{
  border-left: none;
}
.te_laat_tabel img{
  width: 100%;
  width: 2em;
  height: auto;
  filter: invert(58%) sepia(17%) saturate(6855%) hue-rotate(139deg);
  padding-top: 0.5em;
}

/* blacklist tabel */
.blacklist_tabel{
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 2em;
}
.blacklist_tabel table{
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}
.blacklist_tabel th, td{
  width: 30%;
  border-collapse: collapse;
  border-bottom: 2px solid rgb(193,193,193);
  border-left: 2px solid rgb(193,193,193);
}
.blacklist_tabel tr:last-child td{
  border-bottom: none;
}
.blacklist_tabel th:first-child, td:first-child{
  border-left: none;
}
.blacklist_tabel .meer_info{
  width: 2em;
  height: auto;
  padding-top: 0.5em;
  filter: invert(58%) sepia(17%) saturate(6855%) hue-rotate(139deg);
}
.verwijder{
    filter: invert(13%) sepia(91%) saturate(6506%) hue-rotate(353deg) brightness(88%) contrast(103%);
    width: 2em;
    height: auto;
    padding-top: 0.5em;
  }
/* uitleningen */
/* verlengingen */
.inlever_uitleen span{
  font-weight: normal;
  margin-left: 0.5em;
}

/* inventaris toevoegen  */
.inventaris_toe_specificaties{
  margin: 1em;
  background-color: #D9D9D9;
  border-radius: 2em;
  padding: 2em;
}
.inventaris_toe{
  display: flex;
  margin: 2em 2em 2em 0em;
}
.inventaris_toe h2{
  margin: 0em 1em 0em 0em;
}
.inventaris_toe input{
  background-color: #fff;
  border-radius: 2em;
  border: 0;
  width: 17em;
  height: 1em;
  padding: 1em;
}
.inventaris_toe_block{
  display: flex;
}
.inventaris_toe_img button{
  width: 5em;
  height: auto;
  cursor: pointer;
  margin: 0.5em 1em 0em 8em ;
  background-color: #D9D9D9;
  border: 0;
}
.inventaris_toe_text input{
  height: 15em;
  width: 100%;
  border: 0;
  border-radius: 2em;
}
.inventaris_toe_verwijderen button{
  background-color: #E30613;
  border-radius: 2em;
  width: 15em;
  height: 3em;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 1em 2em 0em 0em;
  display: flex;
  align-items: center;
  padding: 0em 0em 0em 1em;
}
.inventaris_toe_opslaan button{
  background-color: #1BBCB6;
  border-radius: 2em;
  width: 15em;
  height: 3em;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 1em 0em 0em 0em;
}
.inventaris_toe_buttons{
  display: flex;
  justify-content: center;
}
.inventaris_toe_verwijderen img{
  width: 1em;
  height: auto;
  margin: 0em 0em 0em 0.5em;
  filter: invert(100%) sepia(0%) saturate(5878%) hue-rotate(26deg) brightness(116%) contrast(115%);
}



/* kits  */
.kit_informatie span{
  color: #5B5B5B;
}
.kit_container{
  background-color: #D9D9D9;
  border: #D9D9D9;
  border-radius: 1em;
  padding: 1em;
  margin: 1.5em;
}

.kit_visueel_img img {
  background-color: #fff;
  padding: 1,5em;
  margin: 1em;
  height: auto;
width: 7em;
padding: 1em;
}

.kit_visueel_small img{
  height: auto;
  width: 1em;
  padding: 1em;

}

.kit_verwijder_kit a{
  background-color: #E30613;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #E30613;
  border-radius: 2em;
  width: 8.5em;
  height: 1em;
  text-decoration: none;
  color: white;
  padding: 1em;
  margin: 1em;
}
.kit_wijzig_kit a{
  background-color: #1BBCB6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #1BBCB6;
  border-radius: 2em;
  width: 8.5em;
  height: 1em;
  text-decoration: none;
  color: white;
  padding: 1em;
  margin: 1em;
}

.kit_visueel{
  display: flex;
  align-items: center;
}
.kit_verwijder_kit a img{
  width: 1em;
  height: auto;
  margin-left: 1em;
  filter: invert(100%) sepia(0%) saturate(5878%) hue-rotate(26deg) brightness(116%) contrast(115%);
}

.kit_wijzig_kit img{
  width: 1em;
  height: auto;
  margin-left: 1em;
  filter: invert(100%) sepia(0%) saturate(5878%) hue-rotate(26deg) brightness(116%) contrast(115%);
}

.kit_acties{
text-decoration: none;
margin: 0em 1em 0em 1em;

}

.kit_add{
  background-color: #D9D9D9;
  margin: 1.5em;
  padding: 0.5em;
  border-radius: 2em;
  height: auto;
  width: 7em;
}

.kit_add a{
  color: #5B5B5B;
  text-decoration: none;
}
/* kit toevoegen  */
.kit_toe{
  display: flex;
  align-items: center;
  margin: 1em;
  background-color: #D9D9D9;
  border-radius: 1.5em;
  padding: 1em;
}
.kit_toe input{
  border-radius: 1em;
  border: 0;
  background-color: #fff;
  height: 3em;
  width: 73%;
  margin: 0em 0em 0em 1em;
  padding: 0em 1em 0em 1em;
}
.kit_toe_button{
  display: flex;
  justify-content: center;
}
.kit_toe_apparaat button{
  background-color: #5B5B5B;
  border-radius: 2em;
  width: 10em;
  height: 2em;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 1em 0em 0em 0em;
  font-size:1em;
  display: flex;
  align-items: center;
  padding: 0em 0em 0em 1.5em;
}
.kit_toe_apparaat img{
  width: 1em;
  height: auto;
  margin-left: 1em;
  filter: invert(100%) sepia(0%) saturate(5878%) hue-rotate(26deg) brightness(116%) contrast(115%);
}
.kit_toe_opslaan button{
  background-color: #1BBCB6;
  border-radius: 2em;
  width: 10em;
  height: 2em;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 1em 0em 0em 2em;
  font-size:1em;
  display: flex;
  align-items: center;
  padding: 0em 0em 0em 3em;
}
/* kit wijzigen  */
.kit_wijzig_toe{
  display: flex;
  align-items: center;
  margin: 1em;
  background-color: #D9D9D9;
  border-radius: 1.5em;
  padding: 0em 1em 0em 1em;
}
.kit_wijzig_toe p span{
  background-color: #fff;
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.9em;
  width: 40em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kit_wijzig_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D9D9D9;
  border: #D9D9D9;
  border-radius: 1em;
  padding: 1em;
  margin: 1.5em;
}
.kit_wijzig_visueel_img img {
  background-color: #fff;
  padding: 1,5em;
  margin: 1em;
  height: auto;
width: 7em;
padding: 1em;
}
.kit_wijzig_verwijder a{
  background-color: #E30613;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #E30613;
  border-radius: 2em;
  width: 8.5em;
  height: 1em;
  text-decoration: none;
  color: white;
  padding: 1em;
  margin: 1em;
}
.kit_wijzig_verwijder img{
  width: 1em;
  height: auto;
  margin-left: 1em;
  filter: invert(100%) sepia(0%) saturate(5878%) hue-rotate(26deg) brightness(116%) contrast(115%);
}



/* Info page  */
.info_body{
  display: flex;
}

.info_uitleen_uitleg img{
  height: auto;
  width: 1em;
  filter: invert(100%) sepia(0%) saturate(5878%) hue-rotate(26deg) brightness(116%) contrast(115%);
}
.info-opening-hours img{
  height: auto;
  width: 1em;
}
.info-sancties img{
  height: auto;
  width: 1em;
}

.info-defect img{
  height: auto;
  width: 1em;
}

.info_uitleen_uitleg h2 {
  padding-left: 1em;
}
.info_uitleen_uitleg ul li h3 {
  color: white;
}
.info_uitleen_uitleg ul li p {
  font-size: 0.8em;
  padding: 1em;
}
.info_uitleen_uitleg{
padding-bottom: 4em;
}
.info_uitleen_uitleg ul {
  list-style: none;
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  margin: auto;
  width: 85%;

}
.info_uitleen_uitleg h2 {
  margin: 1em 0em;
}
.info_uitleen_uitleg ul li {
  width: 11.5em;
  height: 10em;
  border-radius: 1em;
  text-align: center;
  background-color: #1bbcb6;
  text-decoration: none;
  padding: 1em;
  color: white;
}

/* openings uren  */
.info-opening-hours h1{
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
}

.info-opening-hours {
    padding: 0em 1em 0em 0em;
    margin-bottom: 1em;
  }
.info-opening-hours table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  }
  
.info-opening-hours h1 {
    padding: 0em 0em 0.5em 0em;
    text-align: left;
    margin: 0em 0em 1em 2em;
  }

.info-opening-hours table,th,td {
    text-align: center;
    padding: 1.5em;
}
.info-opening-hours table th {
    text-align: start;
    border: none;
    border-bottom: 2px solid rgb(193, 193, 193);
  }
  .info-opening-hours table td{
    border: none;
    border-bottom: 2px solid rgb(193, 193, 193);
    border-left: 2px solid rgb(193, 193, 193);
  }
  .info-opening-hours table tr:last-child th, .info-opening-hours table tr:last-child td{
    height: 2em;
    border-bottom: none;
  }

  .info-opening-hours td  {
    border: 0.1em solid black;
  }

  .info-opening-hours th {
    border: 0.1em solid black;
  }

/* sancties/defect  */

.info-sancties{
    margin: 1em 0em 1em 3em;
}
.info-sancties h2 p{
  margin: 2em  0em 1em 0em;
}
.info-sancties p b{
    color: #E30613;
}
.info-sancties p, .info-defect p{
  width: 95%;
}

.info-defect{
    margin: 2em 0em 1em 3em;
}

/* defect page  */


.defect_container{
  background-color: #D9D9D9;
  border: #D9D9D9;
  border-radius: 1em;
  padding: 1em;
  margin: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.defect_informatie span{
  color: #5B5B5B;
}

.defect_visueel_img img {
  background-color: #fff;
  padding: 1,5em;
  margin: 1em;
  height: auto;
width: 7em;
padding: 1em;
}

.defect_hersteld a{
  background-color: #1BBCB6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #1BBCB6;
  border-radius: 2em;
  width: 8.5em;
  height: 1em;
  text-decoration: none;
  color: white;
  padding: 1em;
  margin: 1em;
}
.defect_verwijder a{
  background-color: #E30613;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #E30613;
  border-radius: 2em;
  width: 8.5em;
  height: 1em;
  text-decoration: none;
  color: white;
  padding: 1em;
  margin: 1em;
}

.defect_visueel{
  display: flex;
  align-items: center;
}
.defect_hersteld a img{
  width: 1em;
  height: auto;
  margin-left: 1em;
  filter: invert(100%) sepia(0%) saturate(5878%) hue-rotate(26deg) brightness(116%) contrast(115%);
}

.defect_verwijder img{
  width: 1em;
  height: auto;
  margin-left: 1em;
  filter: invert(100%) sepia(0%) saturate(5878%) hue-rotate(26deg) brightness(116%) contrast(115%);
}
.defect_acties{
text-decoration: none;
margin: 0em 1em 0em 1em;

}

.defect_add{
  background-color: #D9D9D9;
  margin: 1.5em;
  padding: 0.5em;
  border-radius: 2em;
  height: auto;
  width: 10em;
}

.defect_add a{
  color: #5B5B5B;
  text-decoration: none;
}

/* defect toevoegen page  */
.Info_rechter_grid{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.defect_toe{
  display: flex;
  align-items: center;
  margin: 1em;
}
.defect_toe img{
  width: 2em;
  height: auto;
  margin: 1em;
  cursor: pointer;
}
.defect_toe input{
  margin: 1.5em;
  border-radius: 2em;
  border: 0;
  background-color: #D9D9D9;
  height: 2em;
  width: 15em;
  padding: 1em;
}
.defect_toe_textbox h2{
  margin: 1em 0em 1em 1em;

}
.defect_toe_text input{
  height: 15em;
  width: 95%;
  border: 0;
  border-radius: 1em;
  background-color: #D9D9D9;
  padding: 1em 0em 1em 1em;
  margin: 1em;
}

.defect_toe_bevestig button{
  background-color: #1BBCB6;
  border-radius: 2em;
  width: 10em;
  height: 2em;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 1em 0em 0em 0em;
  font-size:1em;
}
.defect_toe_bevestig{
  display: flex;
  justify-content: center;
}